<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Cheap_books_home</title>
		<link rel="stylesheet" href="../static/style/home.css" />
	</head>
	<body>
		<div>
			<nav>
				<ul>
					<li class="topnav"><a herf="">Home</a></li>
					<li class="topnav"><a herf="">Services</a></li>
					<li class="topnav"><a herf="">News</a></li>
					<li class="topnav"><a herf="">Contact Us</a></li>
					<li class="topnav"><a herf="">About</a></li>
				</ul>
			</nav>

			<div class="topnav" id="login"> <a href="./login.html"> Login/Sign up</a></div>
		</div>

		<div id="books">
			<br /><br /><br /><br />
			<h2>Books For You</h2>
		</div>
	</body>
</html>
