<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Book rentals</title>
		<link rel="stylesheet" href="../static/style/index.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="../static/scripts/index.js"></script>
	</head>
	<body>
		<div id="box" class="col-12 ">
			<div class="row">
				<div class="col-lg-1 col-md-5 topnav">
					<a herf="#">Book Rentals</a>
					<button onclick="showMenu()" class="btn menu">&#9776;</button>
				</div>
				<div class="col-lg-2 col-md-3 topnav tohide "><a herf="">Services</a></div>
				<div class="col-lg-2 col-md-2 topnav tohide "><a herf="">Got Feedback ?</a></div>
				<div class="col-lg-3 col-md-6 topnav tohide "><a herf="">About us</a></div>
				<div class="col-lg-1 col-md-2 topnav"><a herf="">Log in</a></div>
				<div class="col-lg-1 col-md-2 topnav">
					<button class="btn btn-outline-primary"><a herf="">Sign Up</a></button>
				</div>
			</div>
		</div>

		<div id="books">
			<br /><br /><br /><br />
			<h2>Books For You</h2>
		</div>
	</body>
</html>
