body {

	font-family: "Courier New";
	color: black;
}

.topnav{
	color: black;
	font-size: 1.2rem;
	padding: 10px;

	user-select: none;
	font-family:  sans-serif;
}

.topnav:hover {
	color: blue;
	cursor: pointer;
}

#box{
	border:1px solid black;
}

a{
	color: black;
}

a:hover{
	color: blue;
	text-decoration: none;
}

.menu {
	visibility: hidden;
}

button > a{
	color: blue;

}

@media only screen and (max-width: 768px) {
	.tohide {
		display: none;
		
		color: wheat;
		background-color: black ;
		
	}
	.menu {
		visibility: visible;
		float: right;
	}
	
}

